@font-face {
  font-family: 'SourceSansPro';
  src: url("../webfonts/SourceSansPro-Regular.woff2") format("woff2"), url("../webfonts/SourceSansPro-Regular.woff") format("woff"), url("../webfonts/SourceSansPro-Regular.ttf") format("ttf"); }

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url("../webfonts/SourceSansPro-Light.woff2") format("woff2"), url("../webfonts/SourceSansPro-Light.woff") format("woff"), url("../webfonts/SourceSansPro-Light.ttf") format("ttf"); }

@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url("../webfonts/SourceSansPro-SemiBold.woff2") format("woff2"), url("../webfonts/SourceSansPro-SemiBold.woff") format("woff"), url("../webfonts/SourceSansPro-SemiBold.ttf") format("ttf"); }

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("../webfonts/SourceSansPro-Bold.woff2") format("woff2"), url("../webfonts/SourceSansPro-Bold.woff") format("woff"), url("../webfonts/SourceSansPro-Bold.ttf") format("ttf"); }

@font-face {
  font-family: 'RobotoSlab';
  src: url("../webfonts/RobotoSlab-Regular.woff2") format("woff2"), url("../webfonts/RobotoSlab-Regular.woff") format("woff"), url("../webfonts/RobotoSlab-Regular.ttf") format("ttf"); }

@font-face {
  font-family: 'RobotoSlab-Light';
  src: url("../webfonts/RobotoSlab-Light.woff2") format("woff2"), url("../webfonts/RobotoSlab-Light.woff") format("woff"), url("../webfonts/RobotoSlab-Light.ttf") format("ttf"); }

html, body, p {
  margin: 0;
  padding: 0; }

html, body {
  overflow-x: hidden;
  font-family: SourceSansPro;
  color: #333333;
  /*
  @include breakpoint(s-up){
    height: 100%;
  }
  */ }

html {
  font-size: 18px; }
  @media (max-width: 768px) {
    html {
      font-size: 16px; } }
  @media (max-width: 480px) {
    html {
      font-size: 15px; } }

body {
  font-size: 1rem; }
  body:after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000; }

input[type="text"] {
  border: 0;
  outline: 0;
  height: 40px;
  padding: 0 1rem;
  font-size: 1rem; }

input[type="submit"], input.btn[type="submit"] {
  border: 0;
  outline: 0;
  height: 40px;
  padding: 0 25px; }

.content, .slideshow-content {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1100px;
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  padding: 0 20px;
  height: 100%; }
  @media (min-width: 769px) {
    .content.nowrap-desktop, .nowrap-desktop.slideshow-content {
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      -o-flex-wrap: nowrap;
      flex-wrap: nowrap; } }

.wide-content {
  max-width: 1400px; }

.main-content section {
  margin-top: 11px;
  margin-bottom: 11px; }
  .main-content section:first-child {
    margin-top: 0; }
  @media (max-width: 768px) {
    .main-content section {
      margin-top: 20px;
      margin-bottom: 20px; }
      .main-content section:first-child {
        margin-top: 0; } }

.justify-left {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start; }

.row-reverse {
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -o-flex-direction: row-reverse;
  flex-direction: row-reverse; }
  @media (max-width: 768px) {
    .row-reverse.row-normal-s {
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      -o-flex-direction: row;
      flex-direction: row; } }

.stretch-full {
  margin-left: -20px;
  margin-right: -20px; }

@media (max-width: 768px) {
  .stretch-full-mobile {
    margin-left: -40px;
    margin-right: -40px; } }

.two-col {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px; }
  @media (min-width: 769px) {
    .two-col:first-of-type {
      padding-right: 10px; }
    .two-col:last-of-type {
      padding-left: 10px; } }

.three-col {
  width: 33.33333%; }

@media (max-width: 768px) {
  .full-width-mobile {
    width: 100%; } }

.half-max {
  max-width: 550; }

@media (max-width: 768px) {
  .hidden-mobile {
    display: none !important; } }

@media (min-width: 769px) {
  .hidden-desktop {
    display: none !important; } }

h1, .h1, h2, .h2 {
  font-family: RobotoSlab;
  font-weight: normal; }

h1, .h1, h2, .h2, h3, .h3 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

h1, .h1 {
  font-size: 1.94em;
  line-height: 1.2em;
  margin-bottom: 1rem; }

h2, .h2 {
  font-size: 1.94em;
  line-height: 1.2em;
  margin-bottom: 1rem; }
  @media (max-width: 960px) {
    h2, .h2 {
      font-size: 1.6em; } }
  @media (max-width: 768px) {
    h2, .h2 {
      line-height: 1.06em;
      margin-bottom: 0.8rem; }
      .content h2, .slideshow-content h2, .content .h2, .slideshow-content .h2 {
        margin-bottom: 2rem; } }

h3, .h3 {
  font-family: "SourceSansPro-Bold";
  font-size: 1.333em; }

.xl-text {
  font-family: "RobotoSlab-Light";
  font-size: 4.44444rem;
  text-transform: uppercase; }
  @media (max-width: 1280px) {
    .xl-text {
      font-size: 3.66667rem; } }
  @media (max-width: 1020px) {
    .xl-text {
      font-size: 3.22222rem; } }
  @media (max-width: 960px) {
    .xl-text {
      font-size: 2.5rem; } }

p.large-body {
  font-family: "SourceSansPro-Light";
  font-size: 1.44444rem; }
  @media (max-width: 480px) {
    p.large-body {
      font-size: 1.2rem; } }

ul.horizontal-menu {
  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0; }
  ul.horizontal-menu li {
    display: inline-block;
    padding: 0 11px; }
    ul.horizontal-menu li:first-of-type {
      padding-left: 0; }
    ul.horizontal-menu li:last-of-type {
      padding-right: 0; }

.btn {
  background-color: #2aa5d1;
  font-family: "SourceSansPro-Bold";
  font-size: 1rem;
  text-decoration: none;
  color: #FFFFFF;
  padding: 18px 35px; }
  .btn:visited, .btn:hover {
    color: #FFFFFF; }
  @media (max-width: 768px) {
    .btn {
      font-size: 14px;
      padding: 16px 28px; } }
  @media (max-width: 480px) {
    .btn {
      padding: 8px 12px; } }

.jrf-museum-logo {
  width: 100%;
  fill: #333333; }

.italic {
  font-style: italic; }

.text-center {
  text-align: center; }

.vertical-line {
  position: absolute;
  width: 0px;
  border-right: 1px solid #e1e1e1;
  height: 100%;
  z-index: 0; }

.video-play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  width: 6.22222rem;
  height: 6.22222rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 5px solid #FFFFFF;
  border-radius: 50%; }
  .video-play-icon:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 0.38889rem;
    border-top: 1.83333rem solid transparent;
    border-bottom: 1.83333rem solid transparent;
    border-left: 1.83333rem solid #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%); }
  @media (max-width: 960px) {
    .video-play-icon {
      width: 4.44444rem;
      height: 4.44444rem; }
      .video-play-icon:after {
        margin-left: 0.27778rem;
        border-top: 1.33333rem solid transparent;
        border-bottom: 1.33333rem solid transparent;
        border-left: 1.33333rem solid #FFFFFF; } }

.img-full-width {
  position: relative;
  z-index: 1000;
  padding: 0 40px; }
  .img-full-width > div {
    width: 100%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto; }
  .img-full-width img {
    width: 100%; }
  @media (max-width: 768px) {
    .img-full-width {
      padding: 0 20px; } }

.attribution {
  font-size: 0.77778rem;
  color: #999999; }

header {
  max-width: 100%;
  padding: 30px 40px;
  position: relative;
  text-align: center;
  z-index: 2000; }
  @media (max-width: 768px) {
    header {
      padding-left: 20px;
      padding-right: 20px; } }
  header > div {
    position: relative; }

.header-logo {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  width: 131px; }
  @media (max-width: 480px) {
    .header-logo {
      width: 89px; } }

.donate-btn {
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-transform: uppercase;
  font-family: "SourceSansPro-SemiBold";
  font-size: 16px; }
  @media (max-width: 480px) {
    .donate-btn {
      font-size: 14px; } }

.header-info {
  font-size: 1.44em;
  font-family: "SourceSansPro-Light"; }
  .page-index .header-info {
    margin-top: 20px; }

.mobile-nav-icon {
  position: absolute;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 55px;
  height: 40px;
  background-image: url("../../images/icon-mobile-nav.svg");
  background-repeat: no-repeat;
  background-size: cover; }

footer {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  align-items: baseline;
  max-width: 100%;
  padding: 30px 40px;
  background-color: #000000;
  color: #666666;
  font-family: SourceSansPro;
  font-size: 14px; }
  footer a, footer a:visited {
    color: inherit; }
    footer a:hover, footer a:visited:hover {
      color: #cccccc; }
  @media (max-width: 960px) {
    footer {
      flex-direction: column;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px; }
      footer > * {
        padding-bottom: 16px; } }

.footer-logo {
  width: 101px; }
  .footer-logo svg {
    fill: #666666; }

.footer-menu, ul.footer-menu {
  padding-left: 20px;
  padding-right: 20px; }
  @media (max-width: 960px) {
    .footer-menu, ul.footer-menu {
      padding-left: 0;
      padding-right: 0; } }

ul.footer-social-menu.horizontal-menu {
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px; }
  ul.footer-social-menu.horizontal-menu li:not(:first-of-type) {
    padding-left: 8px; }
  ul.footer-social-menu.horizontal-menu li:not(:last-of-type) {
    padding-right: 8px; }
  @media (max-width: 960px) {
    ul.footer-social-menu.horizontal-menu {
      margin-left: 0; } }

.bottom-nav {
  background-color: #222222;
  text-transform: uppercase;
  padding-top: 1.72rem;
  padding-bottom: 1.72rem; }
  .bottom-nav a {
    text-decoration: none;
    color: inherit; }
    .bottom-nav a:hover h2 {
      color: #2aa5d1; }
  .bottom-nav h2 {
    display: inline;
    font-family: "RobotoSlab-Light";
    line-height: 1.1em;
    color: #FFFFFF;
    transition: all 0.2s;
    -webkit-transition: all 0.2s; }
  .bottom-nav ul.horizontal-menu {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 0; }
    .bottom-nav ul.horizontal-menu li {
      border-right: 1px solid #333333;
      padding-left: 2.1rem;
      width: 100%; }
      .bottom-nav ul.horizontal-menu li:last-of-type {
        border-right: none; }

.newsletter-sign-up {
  position: relative; }

.newsletter-image, .newsletter-image-mobile, .newsletter-image-bg {
  position: absolute;
  background-repeat: no-repeat;
  background-position-y: bottom;
  width: 100%;
  height: 100%; }

.newsletter-image-bg {
  width: 100%;
  background-position-x: center;
  background-position-y: bottom; }
  .newsletter-the-man .newsletter-image-bg {
    background-size: 3966px 327px; }
  .newsletter-the-movement .newsletter-image-bg {
    background-size: 4029px 317px; }
  .newsletter-the-experience .newsletter-image-bg {
    background-size: 3673px 980px;
    background-position-y: 100%;
    background-position-x: 47%;
    bottom: -1px;
    height: 980px; }

.newsletter-image, .newsletter-image-mobile {
  background-size: contain; }
  .content-right .newsletter-image, .content-right .newsletter-image-mobile {
    left: auto;
    right: 50%;
    background-position-x: right; }
  .content-left .newsletter-image, .content-left .newsletter-image-mobile {
    left: 50%;
    right: auto;
    background-position-x: left; }
  .newsletter-the-man .newsletter-image, .newsletter-the-man .newsletter-image-mobile {
    max-width: 862px;
    width: 862px; }
  .newsletter-the-movement .newsletter-image, .newsletter-the-movement .newsletter-image-mobile {
    max-width: 907px;
    width: 907px; }

.newsletter-image-mobile {
  position: relative;
  left: auto !important;
  right: auto !important;
  background-size: cover;
  width: 100vw !important;
  height: 105vw;
  max-height: 670px; }
  .newsletter-the-movement .newsletter-image-mobile {
    background-position-x: center; }

.quote {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 139px; }
  .quote h2 {
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4em; }
    @media (min-width: 481px) {
      .quote h2 {
        font-size: 1.94rem !important; } }
  @media (max-width: 768px) {
    .quote {
      padding-top: 22px;
      padding-bottom: 36px; } }

.newsletter-form {
  text-align: center;
  padding-top: 230px;
  padding-bottom: 50px;
  color: #FFFFFF; }
  .newsletter-form h3 {
    margin-bottom: 0.5rem; }
  .newsletter-form p {
    max-width: 320px;
    margin: auto;
    margin-bottom: 0.8rem; }
  .newsletter-form input[type="text"] {
    width: 50%;
    max-width: 214px;
    margin-right: 2px; }
  .newsletter-form input.btn[type="submit"] {
    border: 2px solid #FFFFFF;
    vertical-align: bottom;
    background-color: transparent; }
  .newsletter-the-experience .newsletter-form {
    padding-top: 150px; }
  @media (max-width: 768px) {
    .newsletter-form {
      padding: 37px 0; }
      .newsletter-the-man .newsletter-form {
        background-color: #2aa5d1; }
      .newsletter-the-movement .newsletter-form {
        background-color: #004789; } }

#index-content {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  overflow: hidden;
  height: 100%; }
  #index-content h2 {
    text-transform: uppercase;
    margin-top: 0; }
  #index-content section {
    position: relative;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0; }
    #index-content section * {
      transition: all 0.5s;
      -webkit-transition: all 0.5s; }
    #index-content section > a {
      color: inherit; }
      @media (min-width: 1281px) {
        #index-content section > a:hover .index-bg-image {
          bottom: -12%; } }
      @media (max-width: 1280px) {
        #index-content section > a:hover .index-bg-image {
          bottom: -5vw; } }
      @media (min-width: 769px) {
        #index-content section > a:hover .index-bg-image {
          bottom: -12%; }
        #index-content section > a:hover .index-main-img {
          opacity: 1; } }
    @media (max-width: 768px) {
      #index-content section {
        background-color: #ebebeb; } }
  @media (max-width: 1450px) {
    #index-content {
      height: 100%;
      max-height: 76vh;
      min-height: 792px; } }
  @media (max-width: 1280px) {
    #index-content {
      height: 57vw;
      min-height: 1px; } }
  @media (max-width: 1020px) {
    #index-content {
      font-size: 0.8rem; } }
  @media (max-width: 768px) {
    #index-content {
      font-size: 1rem;
      flex-direction: column;
      height: auto;
      max-height: 100%; } }
  @media (min-width: 1450px) {
    #index-content {
      height: 100%;
      max-height: 76vh;
      min-height: 792px; } }

.index-content-container {
  position: absolute;
  top: 30%;
  padding-left: 40px; }
  @media (max-width: 768px) {
    .index-content-container {
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      padding-left: 20px; } }
  @media (max-width: 480px) {
    .index-content-container {
      top: 30px;
      transform: none;
      -webkit-transform: none; } }

.index-image, .index-shadow-img, .index-bg-image, .index-main-img {
  position: absolute;
  width: 100%;
  height: 100%; }

.index-shadow-img, .index-bg-image, .index-main-img {
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: cover;
  bottom: 0;
  right: 0; }
  @media (max-width: 1280px) {
    .index-shadow-img, .index-bg-image, .index-main-img {
      background-position-y: bottom;
      background-size: 40vw; } }

.index-main-img {
  opacity: 0.35; }

@media (max-width: 768px) {
  .index-image {
    position: relative; }
    .index-image img {
      position: relative;
      display: block;
      width: 100%; } }

.index-bg-image {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  position: absolute;
  bottom: -24%;
  max-height: 500px; }
  @media (max-width: 1280px) {
    .index-bg-image {
      bottom: -9vw;
      max-height: 30vw;
      background-size: cover;
      background-position-y: top; } }
  @media (max-width: 768px) {
    .index-bg-image {
      display: block;
      max-height: 24vw; }
      .index-man .index-bg-image {
        bottom: -12%;
        background-position-x: -59px;
        max-height: 31vw; } }

section.feature {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }
  .page-the-man section.feature {
    height: 1255px; }
    @media (max-width: 1280px) {
      .page-the-man section.feature {
        height: 1004px; } }
    @media (max-width: 1020px) {
      .page-the-man section.feature {
        height: 753px; } }
    @media (max-width: 960px) {
      .page-the-man section.feature {
        height: 628px; } }
    @media (max-width: 768px) {
      .page-the-man section.feature {
        height: auto; } }
  .page-the-movement section.feature {
    height: 1096px; }
    @media (max-width: 1280px) {
      .page-the-movement section.feature {
        height: 877px; } }
    @media (max-width: 1020px) {
      .page-the-movement section.feature {
        height: 658px; } }
    @media (max-width: 960px) {
      .page-the-movement section.feature {
        height: 548px; } }
    @media (max-width: 768px) {
      .page-the-movement section.feature {
        height: auto; } }
    @media (max-width: 768px) {
      .page-the-movement section.feature .content .vertical-line, .page-the-movement section.feature .slideshow-content .vertical-line {
        height: 160%; } }
    @media (min-width: 769px) {
      .page-the-movement section.feature {
        margin-bottom: -40px; } }
  .page-the-experience section.feature {
    margin-top: -164px;
    height: 1133px; }
    @media (max-width: 1280px) {
      .page-the-experience section.feature {
        height: 1000px; } }
    @media (max-width: 1020px) {
      .page-the-experience section.feature {
        height: 790px; } }
    @media (max-width: 960px) {
      .page-the-experience section.feature {
        height: 709px; } }
    @media (max-width: 768px) {
      .page-the-experience section.feature {
        height: auto; } }
    .page-the-experience section.feature .content .vertical-line, .page-the-experience section.feature .slideshow-content .vertical-line {
      display: none; }
  @media (max-width: 768px) {
    section.feature {
      height: auto; } }
  section.feature .vertical-line.hidden-desktop {
    position: absolute;
    height: 11%;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 4; }
  section.feature .content .vertical-line, section.feature .slideshow-content .vertical-line {
    position: relative;
    margin-top: 80px;
    height: 80%; }
    @media (max-width: 1020px) {
      section.feature .content .vertical-line, section.feature .slideshow-content .vertical-line {
        margin-top: 50px; } }
    @media (max-width: 960px) {
      section.feature .content .vertical-line, section.feature .slideshow-content .vertical-line {
        margin-top: 20px; } }
    @media (max-width: 768px) {
      section.feature .content .vertical-line, section.feature .slideshow-content .vertical-line {
        position: absolute;
        margin-top: 0;
        height: 120%; } }
  @media (max-width: 768px) {
    section.feature .content, section.feature .slideshow-content {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      -o-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center; } }
  @media (max-width: 768px) {
    section.feature {
      overflow: visible;
      padding-bottom: 60px; } }

.feature-xl-text {
  position: absolute;
  width: 100%;
  z-index: 11;
  bottom: 178px;
  margin: auto;
  left: 0;
  right: 0; }
  .page-the-man .feature-xl-text {
    bottom: 178px; }
    @media (max-width: 1280px) {
      .page-the-man .feature-xl-text {
        bottom: 142px; } }
    @media (max-width: 1020px) {
      .page-the-man .feature-xl-text {
        bottom: 107px; } }
    @media (max-width: 960px) {
      .page-the-man .feature-xl-text {
        bottom: 89px; } }
  .page-the-movement .feature-xl-text {
    bottom: 112px; }
    @media (max-width: 1280px) {
      .page-the-movement .feature-xl-text {
        bottom: 90px; } }
    @media (max-width: 1020px) {
      .page-the-movement .feature-xl-text {
        bottom: 67px; } }
    @media (max-width: 960px) {
      .page-the-movement .feature-xl-text {
        bottom: 56px; } }
  .page-the-experience .feature-xl-text {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
    bottom: 70px; }
    .page-the-experience .feature-xl-text p {
      width: 50%;
      text-align: left !important;
      margin-right: -10px; }
      @media (max-width: 1280px) {
        .page-the-experience .feature-xl-text p {
          margin-right: -45px; } }
  .feature-xl-text p {
    padding: 0 40px; }
    @media (min-width: 1281px) {
      .feature-xl-text p {
        padding: 0; } }
    @media (max-width: 768px) {
      .feature-xl-text p {
        padding: 0 20px; } }
  .feature-xl-text.justify-left p {
    text-align: right; }
  @media (min-width: 1281px) {
    .feature-xl-text {
      max-width: 1100px; } }
  @media (max-width: 768px) {
    .feature-xl-text .xl-text {
      font-size: 7vw; }
    .page-the-man .feature-xl-text {
      bottom: 14vw; }
    .page-the-movement .feature-xl-text {
      bottom: 8vw; } }

@media (max-width: 768px) {
  .feature-images {
    position: relative;
    overflow: hidden; }
    .page-the-man .feature-images {
      height: 112vw;
      max-height: 861px; }
    .page-the-movement .feature-images {
      height: 73vw;
      max-height: 565px; } }

.feature-image, .feature-image-bg {
  position: absolute;
  top: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  width: 100%;
  height: 100%;
  z-index: 1; }
  @media (max-width: 768px) {
    .page-the-man .feature-image, .page-the-man .feature-image-bg {
      height: 112vw;
      max-height: 861px; }
    .page-the-movement .feature-image, .page-the-movement .feature-image-bg {
      height: 73vw;
      max-height: 565px; } }

.page-the-man .feature-image-bg {
  background-size: 6783px; }
  @media (max-width: 1280px) {
    .page-the-man .feature-image-bg {
      background-size: 5426px; } }
  @media (max-width: 1020px) {
    .page-the-man .feature-image-bg {
      background-size: 4070px; } }
  @media (max-width: 960px) {
    .page-the-man .feature-image-bg {
      background-size: 3392px; } }

.page-the-movement .feature-image-bg {
  background-size: 2165px;
  background-position-y: bottom; }
  @media (max-width: 1280px) {
    .page-the-movement .feature-image-bg {
      background-size: 1732px; } }
  @media (max-width: 1020px) {
    .page-the-movement .feature-image-bg {
      background-size: 1299px; } }
  @media (max-width: 960px) {
    .page-the-movement .feature-image-bg {
      background-size: 1083px; } }

.page-the-experience .feature-image-bg {
  background-size: 3353px;
  background-position-y: -119px; }
  @media (max-width: 1280px) {
    .page-the-experience .feature-image-bg {
      background-size: 2682px; } }
  @media (max-width: 1020px) {
    .page-the-experience .feature-image-bg {
      background-size: 2012px; } }
  @media (max-width: 960px) {
    .page-the-experience .feature-image-bg {
      background-size: 1677px; } }
  @media (max-width: 1280px) {
    .page-the-experience .feature-image-bg {
      background-position-y: -74px; } }
  @media (max-width: 1020px) {
    .page-the-experience .feature-image-bg {
      background-position-y: -29px; } }
  @media (max-width: 960px) {
    .page-the-experience .feature-image-bg {
      background-position-y: 0; } }

@media (max-width: 768px) {
  .page-the-man .feature-image-bg {
    background-size: 593vw;
    background-position-x: 51.5%; }
  .page-the-movement .feature-image-bg {
    background-size: 141vw;
    background-position-x: -27vw;
    background-position-y: top; } }

@media (min-width: 769px) {
  .feature-image-bg {
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: backwards;
    -webkit-transform: translate3D(0, 0, 0); }
    .page-the-man .feature-image-bg {
      animation-name: feature-bg-wipe-in-left; }
    .page-the-movement .feature-image-bg {
      animation-name: feature-bg-wipe-in-right; } }

@keyframes feature-bg-wipe-in-left {
  from {
    clip-path: inset(0px 0px 0px 100%); }
  to {
    clip-path: inset(0px 0px 0px 0%); } }

@keyframes feature-bg-wipe-in-right {
  from {
    clip-path: inset(0px 100% 0px 0px); }
  to {
    clip-path: inset(0px 0% 0px 0px); } }

.feature-image {
  background-size: 1400px; }
  @media (max-width: 1280px) {
    .feature-image {
      background-size: 1120px; } }
  @media (max-width: 1020px) {
    .feature-image {
      background-size: 840px; } }
  @media (max-width: 960px) {
    .feature-image {
      background-size: 700px; } }
  @media (max-width: 1280px) {
    .page-the-experience .feature-image {
      background-position-x: 11vw; } }
  @media (max-width: 1020px) {
    .page-the-experience .feature-image {
      background-position-x: 11vw; } }
  @media (max-width: 960px) {
    .page-the-experience .feature-image {
      background-position-x: 21vw; } }
  @media (max-width: 1280px) {
    .page-the-man .feature-image {
      background-position-x: 160px; } }
  @media (max-width: 768px) {
    .page-the-man .feature-image {
      background-position-x: 64%;
      background-size: 125vw; }
    .page-the-movement .feature-image {
      background-position-x: -7vw;
      background-size: 93vw; } }
  @media (min-width: 769px) {
    .feature-image {
      top: 100%;
      animation-name: feature-image-rise;
      animation-duration: 1.5s;
      animation-delay: 1.4s;
      animation-fill-mode: forwards; }
      .page-the-experience .feature-image {
        top: auto;
        bottom: -107px;
        animation-name: none; }
      .page-the-movement .feature-image {
        animation-delay: 1.7s; } }

@keyframes feature-image-rise {
  from {
    top: 100%;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

.feature-copy {
  position: relative;
  max-width: 1400px;
  margin-top: 225px;
  padding: 0px 40px;
  z-index: 10; }
  .page-the-experience .feature-copy {
    margin-top: 389px; }
  .feature-copy h1 {
    text-transform: uppercase; }
  .feature-copy p.large-body {
    max-width: 400px; }
    @media (max-width: 1020px) {
      .feature-copy p.large-body {
        font-size: 1.11111rem; } }
    @media (min-width: 769px) {
      .feature-copy p.large-body {
        max-width: 300px; } }
    @media (min-width: 1021px) {
      .feature-copy p.large-body {
        max-width: 380px; } }
    @media (max-width: 768px) {
      .feature-copy p.large-body {
        font-size: 1.44444rem; } }
  @media (max-width: 1280px) {
    .feature-copy {
      margin-top: 94px;
      margin-left: 0; }
      .page-the-experience .feature-copy {
        margin-top: 258px; } }
  @media (max-width: 1020px) {
    .feature-copy {
      margin-top: 60px; }
      .page-the-experience .feature-copy {
        margin-top: 224px; } }
  @media (max-width: 960px) {
    .feature-copy {
      margin-top: 18px; }
      .page-the-experience .feature-copy {
        margin-top: 182px; } }
  @media (max-width: 768px) {
    .feature-copy {
      text-align: center;
      margin-top: 0;
      padding: 111px 0; }
      .feature-copy h1, .feature-copy p {
        background-color: #FFFFFF;
        margin: 0; }
      .feature-copy h1 {
        padding: 20px 0 10px; }
      .feature-copy p {
        padding: 10px 0 20px; } }
  @media (max-width: 640px) {
    .feature-copy {
      padding: 17vw 0; } }

section.about {
  padding-bottom: 108px;
  margin-bottom: 0;
  z-index: 100; }
  @media (min-width: 769px) {
    section.about h2 {
      margin: 0; } }
  section.about .vertical-line {
    left: 40%;
    height: 130%; }
  .page-the-experience section.about .vertical-line {
    top: -155px;
    height: 180%; }
    @media (max-width: 1280px) {
      .page-the-experience section.about .vertical-line {
        top: -150px; } }
    @media (max-width: 1020px) {
      .page-the-experience section.about .vertical-line {
        top: -124px; } }
  section.about.row-reverse .vertical-line {
    left: 60%; }
  @media (max-width: 768px) {
    section.about {
      text-align: center;
      padding-bottom: 0; }
      section.about .vertical-line, section.about.row-reverse .vertical-line {
        position: relative;
        left: 0;
        right: 0;
        margin: auto;
        height: 90px; }
      section.about p {
        margin-bottom: 1rem; } }

section.slideshow-section, div.slideshow-section {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  position: relative;
  max-width: 1355px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.88889rem;
  padding: 0 40px;
  z-index: 200; }
  section.slideshow-section img, div.slideshow-section img {
    width: 100%;
    display: block; }
  section.slideshow-section .attribution, div.slideshow-section .attribution {
    position: relative; }
    section.slideshow-section .attribution:not(:last-of-type), div.slideshow-section .attribution:not(:last-of-type) {
      display: none; }
  section.slideshow-section.slideshow-large, div.slideshow-section.slideshow-large {
    max-width: 1824px; }
  section.slideshow-section .vertical-line, div.slideshow-section .vertical-line {
    height: 8.83333rem;
    left: 40%;
    top: 99%;
    z-index: 0; }
    section.slideshow-section .vertical-line.right, div.slideshow-section .vertical-line.right {
      left: auto;
      right: 42%; }
    @media (max-width: 1020px) {
      section.slideshow-section .vertical-line, div.slideshow-section .vertical-line {
        left: 50%;
        right: auto; }
        section.slideshow-section .vertical-line.right, div.slideshow-section .vertical-line.right {
          left: auto;
          right: 50%; } }
    @media (max-width: 768px) {
      section.slideshow-section .vertical-line, div.slideshow-section .vertical-line {
        height: 5rem; } }
  @media (max-width: 768px) {
    section.slideshow-section, div.slideshow-section {
      padding-bottom: 2.66667rem; } }

.slides-container {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  position: relative;
  width: 100%; }
  @media (max-width: 768px) {
    .slides-container {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      flex-wrap: wrap; } }

.slideshow, .slides-footer {
  position: relative;
  width: 47vw;
  max-width: 663px; }
  @media (max-width: 768px) {
    .slideshow, .slides-footer {
      position: static;
      width: 100% !important;
      max-width: 100% !important; } }

.slideshow-large .slideshow, .slideshow-large .slides-footer {
  width: 56vw;
  max-width: 1086px; }

.page-the-man .slideshow-large {
  margin-top: 0; }

.slideshow-content {
  max-width: 366.66667px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5.44444rem; }
  .slideshow-large .slideshow-content.left {
    margin-left: auto;
    margin-right: 0;
    padding-right: 28px;
    padding-left: 0; }
  .slideshow-large .slideshow-content.right {
    margin-left: 0;
    margin-right: auto;
    padding-right: 0;
    padding-left: 28px; }
  @media (max-width: 1020px) {
    .slideshow-content {
      margin-right: auto;
      margin-left: auto;
      padding-right: 0;
      padding-left: 0; }
      .slideshow-content.left {
        margin-right: 0;
        padding-right: 28px; }
      .slideshow-content.right {
        margin-left: 0;
        padding-left: 28px; } }
  @media (max-width: 960px) {
    .slideshow-content {
      padding-bottom: 3.61111rem; } }
  @media (max-width: 768px) {
    .slideshow-content {
      max-width: 100%;
      padding: 0;
      margin-bottom: 28px;
      margin-top: 20px; } }

.slides {
  position: relative;
  z-index: 1; }
  @media (max-width: 768px) {
    .slides {
      position: static; } }

.slide {
  position: relative;
  max-width: 98%; }
  .slide:last-of-type {
    margin-right: 22px;
    margin-bottom: 22px; }
    @media (max-width: 768px) {
      .slide:last-of-type {
        margin-right: 12px;
        margin-bottom: 12px; } }
  .slide:not(:last-of-type) {
    top: 22px;
    left: 22px;
    position: absolute; }
    .slide:not(:last-of-type):before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      mix-blend-mode: multiply;
      opacity: 0.9; }
      .page-the-man .slide:not(:last-of-type):before, .page-the-experience .slide:not(:last-of-type):before {
        background-color: #2aa5d1; }
      .page-the-movement .slide:not(:last-of-type):before {
        background-color: #004789; }
    @media (max-width: 768px) {
      .slide:not(:last-of-type) {
        top: 12px;
        left: 12px; } }

.slides-footer {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  align-items: baseline;
  padding: 13px 0;
  margin-left: auto; }
  .slides-footer.right {
    margin-left: 0; }

.slideshow-control {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center; }

.slideshow-arrow {
  width: 8px;
  height: 15px;
  background-repeat: no-repeat; }
  .slideshow-arrow.prev {
    margin-right: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='15' width='8'%3E%3Cpath d='M0 7.5 L 8 0 M8 15 L 0 7.5' fill='transparent' stroke='#605d5e' /%3E%3C/svg%3E"); }
  .slideshow-arrow.next {
    margin-left: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='15' width='8'%3E%3Cpath d='M0 0 L 8 7.5 L 0 15' fill='transparent' stroke='#605d5e' /%3E%3C/svg%3E"); }

.control-button-container, ul.control-button-container {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  align-items: baseline;
  max-width: 155px;
  overflow: hidden; }
  .control-button-container li, ul.control-button-container li {
    padding-left: 8px !important;
    padding-right: 8px !important; }
  @media (max-width: 1020px) {
    .control-button-container, ul.control-button-container {
      max-width: 124px; } }

.slide-button-container {
  position: relative; }
  .slide-button-container > * {
    width: 15px;
    height: 15px; }
  .slide-button-container input {
    position: absolute;
    margin: 0;
    opacity: 0; }
    .slide-button-container input:checked + span {
      background-color: #2aa5d1; }
  .slide-button-container span {
    display: block;
    top: 0;
    left: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: #cccccc; }
