@font-face {
  font-family: 'SourceSansPro';
  src: url("../webfonts/SourceSansPro-Regular.woff2") format("woff2"), url("../webfonts/SourceSansPro-Regular.woff") format("woff"), url("../webfonts/SourceSansPro-Regular.ttf") format("ttf"); }

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url("../webfonts/SourceSansPro-Light.woff2") format("woff2"), url("../webfonts/SourceSansPro-Light.woff") format("woff"), url("../webfonts/SourceSansPro-Light.ttf") format("ttf"); }

@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url("../webfonts/SourceSansPro-SemiBold.woff2") format("woff2"), url("../webfonts/SourceSansPro-SemiBold.woff") format("woff"), url("../webfonts/SourceSansPro-SemiBold.ttf") format("ttf"); }

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url("../webfonts/SourceSansPro-Bold.woff2") format("woff2"), url("../webfonts/SourceSansPro-Bold.woff") format("woff"), url("../webfonts/SourceSansPro-Bold.ttf") format("ttf"); }

@font-face {
  font-family: 'RobotoSlab';
  src: url("../webfonts/RobotoSlab-Regular.woff2") format("woff2"), url("../webfonts/RobotoSlab-Regular.woff") format("woff"), url("../webfonts/RobotoSlab-Regular.ttf") format("ttf"); }

@font-face {
  font-family: 'RobotoSlab-Light';
  src: url("../webfonts/RobotoSlab-Light.woff2") format("woff2"), url("../webfonts/RobotoSlab-Light.woff") format("woff"), url("../webfonts/RobotoSlab-Light.ttf") format("ttf"); }

html, body, p {
  margin: 0;
  padding: 0; }

html, body {
  overflow-x: hidden;
  font-family: SourceSansPro;
  color: #333333; }

html {
  font-size: 18px; }
  @media (max-width: 768px) {
    html {
      font-size: 16px; } }
  @media (max-width: 480px) {
    html {
      font-size: 15px; } }

body {
  font-size: 1rem; }

.three-col {
  width: 33.33333%; }

@media (max-width: 768px) {
  .full-width-mobile {
    width: 100%; } }

@media (max-width: 768px) {
  .hidden-mobile {
    display: none !important; } }

@media (min-width: 769px) {
  .hidden-desktop {
    display: none !important; } }

h1, h2 {
  font-family: RobotoSlab;
  font-weight: normal;
  -webkit-margin-after: 0; }

h1 {
  font-size: 4.44em;
  line-height: 1em; }

h2 {
  font-size: 1.94em;
  line-height: 1.2em;
  margin-bottom: 1rem; }
  @media (max-width: 768px) {
    h2 {
      line-height: 1.06em;
      margin-bottom: 0.8rem; } }

ul.horizontal-menu {
  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; }
  ul.horizontal-menu li {
    display: inline-block;
    padding: 0 11px; }
    ul.horizontal-menu li:first-of-type {
      padding-left: 0; }
    ul.horizontal-menu li:last-of-type {
      padding-right: 0; }

.btn {
  background-color: #2aa5d1;
  text-transform: uppercase;
  font-family: "SourceSansPro-SemiBold";
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
  padding: 18px 35px; }
  .btn:visited, .btn:hover {
    color: #FFFFFF; }
  @media (max-width: 768px) {
    .btn {
      font-size: 14px;
      padding: 16px 28px; } }

.jrf-museum-logo {
  width: 100%;
  fill: #333333; }

header {
  max-width: 100%;
  padding: 30px 40px;
  position: relative;
  text-align: center; }
  @media (max-width: 768px) {
    header {
      padding-left: 20px;
      padding-right: 20px; } }
  header > div {
    position: relative; }

.header-logo {
  position: relative;
  width: 131px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }
  @media (max-width: 768px) {
    .header-logo {
      left: 0;
      transform: none; } }
  @media (max-width: 480px) {
    .header-logo {
      width: 89px; } }

.donate-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%); }

.header-info {
  margin-top: 20px;
  font-size: 1.44em;
  font-family: "SourceSansPro-Light"; }

footer {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  -o-align-items: baseline;
  align-items: baseline;
  max-width: 100%;
  padding: 30px 40px;
  background-color: #000000;
  color: #666666;
  font-family: SourceSansPro;
  font-size: 14px; }
  footer a, footer a:visited {
    color: inherit; }
    footer a:hover, footer a:visited:hover {
      color: #cccccc; }
  @media (max-width: 960px) {
    footer {
      flex-direction: column;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center;
      text-align: center;
      padding-left: 20px;
      padding-right: 20px; }
      footer > * {
        padding-bottom: 16px; } }

.footer-logo {
  width: 101px; }
  .footer-logo svg {
    fill: #666666; }

.footer-menu {
  padding-left: 20px;
  padding-right: 20px; }
  @media (max-width: 960px) {
    .footer-menu {
      padding-left: 0;
      padding-right: 0; } }

ul.footer-social-menu.horizontal-menu {
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px; }
  ul.footer-social-menu.horizontal-menu li:not(:first-of-type) {
    padding-left: 8px; }
  ul.footer-social-menu.horizontal-menu li:not(:last-of-type) {
    padding-right: 8px; }
  @media (max-width: 960px) {
    ul.footer-social-menu.horizontal-menu {
      margin-left: 0; } }

#index-content {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  overflow: hidden; }
  #index-content h2 {
    text-transform: uppercase;
    margin-top: 0; }
  #index-content p {
    font-family: "SourceSansPro-Light";
    font-size: 1.44rem; }
    @media (max-width: 480px) {
      #index-content p {
        font-size: 1.2rem; } }
  #index-content section {
    position: relative;
    overflow: hidden; }
    #index-content section * {
      transition: all 0.5s;
      -webkit-transition: all 0.5s; }
    #index-content section > a {
      color: inherit; }
      @media (min-width: 769px) {
        #index-content section > a:hover .index-bg-image {
          bottom: 0; }
        #index-content section > a:hover img.index-main-img {
          opacity: 1; } }
    @media (max-width: 768px) {
      #index-content section {
        background-color: #ebebeb; } }
  @media (max-width: 1020px) {
    #index-content {
      font-size: 0.8rem; } }
  @media (max-width: 768px) {
    #index-content {
      font-size: 1rem;
      flex-direction: column; } }

.index-content-container {
  position: absolute;
  top: 30%;
  padding-left: 40px; }
  @media (max-width: 768px) {
    .index-content-container {
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      padding-left: 20px; } }
  @media (max-width: 768px) {
    .index-content-container {
      top: 20px;
      transform: none;
      -webkit-transform: none; } }

.index-image, .index-shadow-img, .index-bg-image {
  position: relative;
  width: 100%; }
  .index-image img, .index-shadow-img img, .index-bg-image img {
    position: relative;
    display: block;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.004, 1.004); }

img.index-main-img {
  opacity: 0.35; }

img.index-shadow-img {
  position: absolute; }

.index-bg-image {
  position: absolute;
  bottom: -12%; }
  @media (max-width: 768px) {
    .index-bg-image {
      bottom: -104%;
      left: -8%; }
      .index-man .index-bg-image {
        bottom: -96%; } }
  @media (max-width: 480px) {
    .index-bg-image {
      bottom: -110%;
      left: -12%; }
      .index-man .index-bg-image {
        bottom: -106%;
        left: -20%; } }
