//* scss-compile-options: --precision 0
$experience-top-margin: 164px;

section.feature{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  .page-the-man &{
    @include set-feature-responsive-sizes(height,1255, auto);
  }

  .page-the-movement &{
    @include set-feature-responsive-sizes(height,1077, auto);

    .content .vertical-line{
      height: 60%;

      @include breakpoint(s){
        height: 160%;
      }
    }

    @include breakpoint(s-up){
      margin-bottom: -26px;
    }
  }

  .page-the-experience &{
    height: 1133px;

    @include breakpoint(l){
      height: 1000px;
    }

    @include breakpoint(m){
      height: 790px;
    }

    @include breakpoint(m-s){
      height: 709px;
    }

    @include breakpoint(s-up){
      margin-top: -$experience-top-margin;

      .content .vertical-line{
        display: none;
      }
    }

    @include breakpoint(s){
      height: auto;
    }
  }

  @include breakpoint(s){
    height: auto;
  }

  .vertical-line.hidden-desktop{
    position: absolute;
    height: 11%;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 5;

    .page-the-experience &{
      height: 122px;

      @include breakpoint(xs){
        height: 100px;
      }
    }
  }


  .content{
    .vertical-line{
      position: relative;
      margin-top: 80px;
      height: 80%;

      @include breakpoint(m){
          margin-top: 50px;
      }

      @include breakpoint(m-s){
          margin-top: 20px;
      }

      @include breakpoint(s){
        position: absolute;
        margin-top: 0;
        height: 120%;
      }
    }

    @include breakpoint(s){
      @include prefixr(flex-direction, column);
      @include prefixr(flex-wrap, nowrap);
      @include prefixr(align-items, center);
    }
  }

  @include breakpoint(s){
    overflow: visible;
    padding-bottom: 60px;
  }
}

.feature-xl-text{
  position: absolute;
  width: 100%;
  z-index: 11;
  bottom: 178px;
  margin: auto;
  left: 0;
  right: 0;

  .page-the-man &{
    @include set-feature-responsive-sizes(bottom,178);
  }

  .page-the-movement &{
    @include set-feature-responsive-sizes(bottom,100);

    @include breakpoint(l){
      max-width: $max-site-width;
      padding-left: 20px;

      p{
        padding: 0;
      }
    }

    @include breakpoint(m){
      bottom: 30px;
    }

    @include breakpoint(s){
      padding: 0;
      text-align: center;
    }
  }

  .page-the-experience &{
    @include prefixr(display, flex);
    @include prefixr(justify-content, flex-end);
    bottom: 70px;

    p{
      width: 50%;
      margin-right: -10px;

      @include breakpoint(l){
        margin-right: -45px;
      }

      @include breakpoint(s-up){
        text-align: left !important;
      }

      @include breakpoint(s){
        text-align: center !important;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  p{
    padding: 0 $full-page-padding;

    @include breakpoint(xl){
      padding: 0;
    }

    @include breakpoint(s){
      padding: 0 $full-page-padding-mobile;
    }
  }

  &.justify-left{
    p{
      text-align: right;
    }
  }

  @include breakpoint(xl){
      max-width: $max-site-width;
  }

  @include breakpoint(s){
      .xl-text{
        font-size: 7vw;
      }

      .page-the-man &{
        bottom: 14vw;
      }

      .page-the-movement &{
        bottom: 8vw;
      }
  }
  @include breakpoint(xs){
    .page-the-experience &{
      bottom: 53px;
    }
  }
}

.feature-images{

  @include breakpoint(s){
    position: relative;
    overflow: hidden;

    .page-the-man &{
      height: 112vw;
      max-height: 861px;
    }

    .page-the-movement &{
      height: 73vw;
      max-height: 565px;
    }

    .page-the-experience &{
      height: 119vw;
      max-height: 900px;
    }
  }
}

.feature-image, .feature-image-bg{
  position: absolute;
  top: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  width: 100%;
  height: 100%;
  z-index: 1;

  @include breakpoint(s){
    .page-the-man &{
      height: 112vw;
      max-height: 861px;
    }

    .page-the-movement &{
      height: 73vw;
      max-height: 565px;
    }
  }
}

.feature-image-bg{
  &.cover{
    z-index: 5;
  }

  .page-the-man &{
    @include set-feature-responsive-sizes(background-size,6783);
  }

  .page-the-movement &{
    @include set-feature-responsive-sizes(background-size,2488);
    background-position-y: bottom;
  }

  .page-the-experience &{
    @include set-feature-responsive-sizes(background-size,3353);
    background-position-y: -119px;

    @include breakpoint(l){
      background-position-y: -74px;
    }

    @include breakpoint(m){
      background-position-y: -29px;
    }

    @include breakpoint(m-s){
      background-position-y: 0;
    }
  }

  @include breakpoint(s){
      .page-the-man &{
        background-size: 593vw;
        background-position-x: 51.5%;
      }

      .page-the-movement &{
        background-size: 145vw;
        background-position-x: -27vw;
        background-position-y: top;
      }

      .page-the-experience &{
        background-size: 282vw;
      }
  }

  @include breakpoint(s-up){
    &.cover{
      animation-name: none !important;
    }

    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #FFFFFF;
      animation-fill-mode: both;
      animation-timing-function: ease-in-out;
      -webkit-transform: translate3D(0, 0, 0);
    }

    .page-the-man &{
      &:after{
        animation-name: feature-bg-wipe-in-left;
        animation-duration: 2s;
      }
    }

    .page-the-movement &, .page-the-experience &{
      &:after{
        animation-name: feature-bg-wipe-in-right;
        animation-duration: 1s;
      }
    }

    .page-the-movement &,{
      &:after{
        animation-duration: 2.2s;
      }
    }

    animation-fill-mode: backwards;
    -webkit-transform: translate3D(0, 0, 0);


  }
}

@keyframes feature-bg-wipe-in-left {
  from {width: 100%;}
  to {width: 0%;}
}

@keyframes feature-bg-wipe-in-right {
  from {left: 0;}
  to {left: 100%;}
}

.feature-image{
  @include set-feature-responsive-sizes(background-size,1400);

  @include breakpoint(l){
      .page-the-man &{
        background-position-x: 160px;
      }

      .page-the-experience &{
        background-position-x: 11vw;
      }
  }

  @include breakpoint(m){
    .page-the-experience &{
      background-position-x: 11vw;
    }
  }

  @include breakpoint(m-s){
    .page-the-experience &{
      background-position-x: 21vw;
    }
  }

  @include breakpoint(s){
    .page-the-man &{
      background-position-x: 64%;
      background-size: 125vw;
    }

    .page-the-movement &{
      background-position-x: -7vw;
      background-size: 93vw;
    }

    .page-the-experience &{
      background-position-x: -28vw;
      background-size: 150vw
    }
  }

  @include breakpoint(s-up){
    top: 100%;
    animation-name: feature-image-rise;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;

    .page-the-experience &{
      top: auto;
      bottom: -107px;
      animation-name: feature-image-rise-experience;
      animation-fill-mode: backwards;
    }

  }
}

@keyframes feature-image-rise {
  from {top: 100%; opacity: 0;}
  to {top: 0; opacity: 1;}
}

@keyframes feature-image-rise-experience {
  from {bottom: -820px; opacity: 0;}
  to {bottom: -107px; opacity: 1;}
}

.feature-copy{
  position: relative;
  max-width: $max-wide-site-width;
  margin-top: 225px;
  padding: 0px $full-page-padding;
  z-index: 10;

  h1{
    text-transform: uppercase;
  }

  p.large-body{
    max-width: 400px;
    @include breakpoint(m){
      font-size: getRem(20px);
    }

    @include breakpoint(s-up){
      max-width: 300px;
    }
    @include breakpoint(m-up){
      max-width: 380px;
    }

    @include breakpoint(s){
      font-size: getRem(26px);
    }
  }

  @include breakpoint(xl){
    .page-the-experience &{
      margin-top: 225px + $experience-top-margin;
    }
  }

  @include breakpoint(l){
    margin-top: 94px;
    margin-left: 0;

    .page-the-experience &{
      margin-top: 94px + $experience-top-margin;
    }
  }

  @include breakpoint(m){
    margin-top: 60px;

    .page-the-experience &{
      margin-top: 60px + $experience-top-margin;
    }
  }

  @include breakpoint(m-s){
    margin-top: 18px;
    .page-the-experience &{
      margin-top: 18px + $experience-top-margin;
    }
  }

  @include breakpoint(s){
    text-align: center;
    margin-top: 0;
    padding: 111px 0;

    h1, p{
      background-color: #FFFFFF;
      margin: 0;
    }

    h1{
      padding: 20px 0 10px;
    }

    p{
      padding: 10px 0 20px;
    }

    .page-the-experience &{
      margin-top: 0;
    }
  }

  @include breakpoint(xs-640){
    padding: 17vw 0;
  }
}
