section.feature{
  $feature-height: 1255;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  .page-the-man &{
    $feature-height: 1255;
  }

  height: $feature-height + 0px;

  @include breakpoint(l){
    height: ($feature-height * 0.8) + 0px;
  }

  @include breakpoint(m){
    height: ($feature-height * 0.6) + 0px;
  }

  @include breakpoint(m-s){
    height: ($feature-height * 0.5) + 0px;
  }

  @include breakpoint(s){
    height: auto;
  }

  .vertical-line.hidden-desktop{
    position: absolute;
    height: 11%;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 4;
  }


  .content{
    .vertical-line{
      position: relative;
      margin-top: 80px;
      height: 80%;

      @include breakpoint(m){
          margin-top: 50px;
      }

      @include breakpoint(m-s){
          margin-top: 20px;
      }

      @include breakpoint(s){
        position: absolute;
        margin-top: 0;
        height: 120%;
      }
    }

    @include breakpoint(s){
      @include prefixr(flex-direction, column);
      @include prefixr(flex-wrap, nowrap);
      @include prefixr(align-items, center);
    }
  }

  @include breakpoint(s){
    overflow: visible;
    padding-bottom: 60px;
  }
}

.feature-xl-text{
  position: absolute;
  width: 100%;
  z-index: 11;
  bottom: 178px;
  margin: auto;
  left: 0;
  right: 0;

  $feature-xl-bottom: 178;

  .page-the-man &{
    $feature-xl-bottom: 178;
  }

  bottom: $feature-xl-bottom + 0px;

  p{
    padding: 0 $full-page-padding;

    @include breakpoint(xl){
      padding: 0;
    }

    @include breakpoint(s){
      padding: 0 $full-page-padding-mobile;
    }
  }

  &.justify-left{
    p{
      text-align: right;
    }
  }

  @include breakpoint(xl){
      max-width: $max-site-width;
  }

  @include breakpoint(l){
      bottom: ($feature-xl-bottom * 0.8) + 0px;
  }

  @include breakpoint(m){
      bottom: ($feature-xl-bottom * 0.6) + 0px;
  }

  @include breakpoint(m-s){
      bottom: ($feature-xl-bottom * 0.5) + 0px;
  }

  @include breakpoint(s){
      .xl-text{
        font-size: 7vw;
      }
      bottom: 14vw;
  }
}

.feature-images{
  @include breakpoint(s){
    position: relative;
    @include feature-image-mobile-height;
    overflow: hidden;
  }
}

.feature-image, .feature-image-bg{
  position: absolute;
  top: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  width: 100%;
  height: 100%;
  z-index: 1;

  @include breakpoint(s){
    @include feature-image-mobile-height;
  }
}

.feature-image-bg{
  $feature-bg-width: 1400;

  .page-the-man &{
    $feature-bg-width: 6783;
  }

  background-size: $feature-bg-width + 0px;

  @include breakpoint(l){
      background-size: ($feature-bg-width * 0.8) + 0px;
  }

  @include breakpoint(m){
      background-size: ($feature-bg-width * 0.6) + 0px;
  }

  @include breakpoint(m-s){
      background-size: ($feature-bg-width * 0.5) + 0px;
  }

  @include breakpoint(s){
      .page-the-man &{
        background-size: 593vw;
        background-position-x: 51.5%;
      }
  }

  //clip-path: inset(0px 0px 0px 0%);
  animation-name: feature-bg-wipe-in-left;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  -webkit-transform: translate3D(0, 0, 0);
}

@keyframes feature-bg-wipe-in-left {
  from {clip-path: inset(0px 0px 0px 100%);}
  to {clip-path: inset(0px 0px 0px 0%);}
}

.feature-image{
  $feature-image-width: 1400;
  top: 100%;

  .page-the-man &{
    $feature-image-width: 1400;
  }

  background-size: $feature-image-width + 0px;

  @include breakpoint(l){
      background-size: ($feature-image-width * 0.8) + 0px;

      .page-the-man &{
        background-position-x: 160px;
      }
  }

  @include breakpoint(m){
      background-size: ($feature-image-width * 0.6) + 0px;
  }

  @include breakpoint(m-s){
      background-size: ($feature-image-width * 0.5) + 0px;
  }

  @include breakpoint(s){
    .page-the-man &{
      background-position-x: 64%;
      background-size: 125vw;
    }
  }

  animation-name: feature-image-rise;
  animation-duration: 1.5s;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
}

@keyframes feature-image-rise {
  from {top: 100%; opacity: 0;}
  to {top: 0; opacity: 1;}
}

.feature-copy{
  position: relative;
  max-width: $max-wide-site-width;
  margin-top: 225px;
  padding: 0px $full-page-padding;
  z-index: 10;

  h1{
    text-transform: uppercase;
  }

  p.large-body{
    max-width: 400px;
    @include breakpoint(m){
      font-size: getRem(20px);
    }

    @include breakpoint(s-up){
      max-width: 300px;
    }
    @include breakpoint(m-up){
      max-width: 380px;
    }

    @include breakpoint(s){
      font-size: getRem(26px);
    }
  }


  @include breakpoint(l){
    margin-top: 94px;
    margin-left: 0;
  }

  @include breakpoint(m){
    margin-top: 60px;
  }

  @include breakpoint(m-s){
    margin-top: 18px;
  }

  @include breakpoint(s){
    text-align: center;
    margin-top: 0;
    padding: 111px 0;

    h1, p{
      background-color: #FFFFFF;
      margin: 0;
    }

    h1{
      padding: 20px 0 10px;
    }

    p{
      padding: 10px 0 20px;
    }
  }

  @include breakpoint(xs-640){
    padding: 17vw 0;
  }
}
