//General Page
html, body, p{
  margin: 0;
  padding: 0;
}

html, body{
  overflow-x: hidden;
  font-family: SourceSansPro;
  color: $text-gray;

  @include breakpoint(s-up){
    height: 100%;
  }
}

html{
  font-size: $base-font-size;

  @include breakpoint(s){
    font-size: $mobile-font-size;
  }

  @include breakpoint(xs){
    font-size: $mobile-font-size-xs;
  }
}

body{
  font-size: 1rem;

  &:after{
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
  }
}

//Forms
input[type="text"]{
  border: 0;
  outline: 0;
  height: 40px;
  padding: 0 1rem;
  font-size: 1rem;
}

input[type="submit"], input.btn[type="submit"]{
  border: 0;
  outline: 0;
  height: 40px;
  padding: 0 25px;
}

//Layout
.content{
  @include prefixr(display, flex);
  @include prefixr(flex-wrap, wrap);
  @include max-width-calc(full);
  position: relative;
  margin: auto;
  left: 0;
  right: 0;
  padding: 0 $gutter;
  height: 100%;

  &.nowrap-desktop{
    @include breakpoint(s-up){
      @include prefixr(flex-wrap, nowrap);
    }
  }
}

.wide-content{
  max-width: $max-wide-site-width;
}

.main-content{
  section{
    margin-top: 11px;
    margin-bottom: 11px;

    &:first-child{
      margin-top: 0;
    }

    @include breakpoint(s){
      margin-top: 20px;
      margin-bottom: 20px;

      &:first-child{
        margin-top: 0;
      }
    }
  }
}

.justify-left{
  @include prefixr(justify-content, flex-start);
}

.row-reverse{
  @include prefixr(flex-direction, row-reverse);

  &.row-normal-s{
    @include breakpoint(s){
      @include prefixr(flex-direction, row);
    }
  }
}

.stretch-full{
  margin-left: -$gutter;
  margin-right: -$gutter;
}

.stretch-full-mobile{
  @include breakpoint(s){
    margin-left: (-$gutter) * 2;
    margin-right: (-$gutter) * 2;
  }
}

.two-col{
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;

  @include breakpoint(s-up){
    &:first-of-type{
      padding-right: 10px;
    }

    &:last-of-type{
      padding-left: 10px;
    }
  }
}

.three-col{
  $width: (100%/3);
  width: $width;
}

.full-width-mobile{
  @include breakpoint(s){
    width: 100%;
  }
}

.half-max{
  @include max-width-calc(half);
}


//Responsive
.hidden-mobile{
  @include breakpoint(s){
    display: none !important;
  }
}

.hidden-desktop{
  @include breakpoint(s-up){
    display: none !important;
  }
}

//Typography
h1, .h1, h2, .h2{
  font-family: RobotoSlab;
  font-weight: normal;
}

h1, .h1, h2, .h2, h3, .h3{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h1, .h1{
  font-size: 1.94em;
  line-height: 1.2em;
  margin-bottom: 1rem;
}

h2, .h2{
  font-size: 1.94em;
  line-height: 1.2em;
  margin-bottom: 1rem;

  @include breakpoint(m-s){
    font-size: 1.6em;
  }

  @include breakpoint(s){
    line-height: 1.06em;
    margin-bottom: 0.8rem;

    .content &{
      margin-bottom: 2rem;
    }
  }
}

h3, .h3{
  font-family: "SourceSansPro-Bold";
  font-size: 1.333em;
}

.xl-text{
  font-family: "RobotoSlab-Light";
  font-size: getRem(80px);
  text-transform: uppercase;

  @include breakpoint(l){
    font-size: getRem(66px);
  }

  @include breakpoint(m){
    font-size: getRem(58px);
  }

  @include breakpoint(m-s){
    font-size: getRem(45px);
  }
}

//Body copy
p.large-body{
  font-family: "SourceSansPro-Light";
  font-size: getRem(26px);

  @include breakpoint(xs){
    font-size: 1.2rem;
  }
}

//UL styles
ul.horizontal-menu{
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;

    li{
      display: inline-block;
      padding: 0 11px;

      &:first-of-type{
        padding-left: 0;
      }

      &:last-of-type{
        padding-right: 0;
      }
    }
}

//Button styles
.btn{
  background-color: $jrf-light-blue;
  font-family: "SourceSansPro-Bold";
  font-size: 1rem;
  text-decoration: none;
  color: #FFFFFF;
  padding: 18px 35px;

  &:visited, &:hover{
    color: #FFFFFF;
  }

  @include breakpoint (s){
    font-size: 14px;
    padding: 16px 28px;
  }

  @include breakpoint(xs){
    padding: 8px 12px;
  }
}

//Logo
.jrf-museum-logo{
    width: 100%;
    fill: $text-gray;
}

//Font styling
.italic{
  font-style: italic;
}

.text-center{
  text-align: center;
}

//Misc
.vertical-line{
  position: absolute;
  width: 0px;
  border-right: 1px solid #e1e1e1;
  height: 100%;
  z-index: 0;
}

.video-play-icon{
  @include center-vert-horizontal;
  width: getRem(112px);
  height: getRem(112px);
  background-color: rgba(0,0,0,0.5);
  border: 5px solid #FFFFFF;
  border-radius: 50%;

  &:after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    margin-left: getRem(7px);
    border-top: getRem(33px) solid transparent;
    border-bottom: getRem(33px) solid transparent;
    border-left: getRem(33px) solid #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
  }

  @include breakpoint(m-s){
    width: getRem(80px);
    height: getRem(80px);

    &:after{
      margin-left: getRem(5px);
      border-top: getRem(24px) solid transparent;
      border-bottom: getRem(24px) solid transparent;
      border-left: getRem(24px) solid #FFFFFF;
    }
  }
}
