//Site width
$max-site-width: 1100px;
$max-wide-site-width: 1400px;
$max-superwide-site-width: 1824px;

//Colors
$text-gray: #333333;
$secondary-text-gray: #666666;
$accent-mid-gray: #222222;
$accent-light-gray: #cccccc;
$jrf-blue: #004789;
$jrf-light-blue: #2aa5d1;
$jrf-brown: #716453;

//Font size
$base-font-size: 18px;
$mobile-font-size: 16px;
$mobile-font-size-xs: 15px;

//Margins
$full-page-padding: 40px;
$full-page-padding-mobile: 20px;

//Padding
$gutter: 20px;
