.paused-animation{
    animation-play-state: paused;
}

.feature-text-heading-animation{
  @include breakpoint(s-up){
    animation-name: feature-text-heading-animation;
  }
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

.feature-body-animation{
  @include breakpoint(s-up){
    animation-name: fade-in;
  }
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

@keyframes feature-text-heading-animation{
  from{margin-left: 65px; opacity: 0;}
  to{margin-left: 0; opacity: 1;}
}

.show-on-scroll{
  @include breakpoint(s-up){
    visibility: hidden;
    animation-play-state: paused;
  }
}


.fade-in{
  @include breakpoint(s-up){
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
}

@keyframes fade-in{
  from{opacity: 0;}
  to{opacity: 1;}
}

.fade-in-up{
  @include breakpoint(s-up){
    animation-name: fade-in-up;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
}

@keyframes fade-in-up{
  from{transform: translateY(20%); opacity: 0;}
  to{transform: translateY(0); opacity: 1;}
}

.fade-in-up-slide{
  @extend .fade-in-up;
  @include breakpoint(s-up){
    animation-duration: 0.8s;
  }
}

.fade-in-up-extreme{
  @include breakpoint(s-up){
    animation-name: fade-in-up-extreme;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
}

@keyframes fade-in-up-extreme{
  from{transform: translateY(70%); opacity: 0;}
  to{transform: translateY(0); opacity: 1;}
}

.grow-height-down{
  @include breakpoint(s-up){
    transform-origin: top;
    -webkit-transform-origin: top;
    animation-name: grow-height-down;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
}

@keyframes grow-height-down{
  from{transform: scaleY(0);}
  to{transform: scaleY(1);}
}

.slide-up{
  @include breakpoint(s-up){
    animation-name: slide-up;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
}

@keyframes slide-up{
  from{transform: translateY(100%);}
  to{transform: translateY(0); }
}

.slide-down{
  @include breakpoint(s-up){
    animation-name: slide-down;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
}

@keyframes slide-down{
  from{transform: translateY(-100%);}
  to{transform: translateY(0); }
}

.expand-down{
  transform-origin: top;
  -webkit-transform-origin: top;

  @include breakpoint(s-up){
    animation-name: expand-down;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }
}

@keyframes expand-down{
  from{transform: scaleY(0);}
  to{transform: scaleY(1); }
}
