//Header
header{
  max-width: 100%;
  padding: 30px $full-page-padding;
  position: relative;
  text-align: center;
  z-index: 2000;

  @include breakpoint (s){
    padding-left: $full-page-padding-mobile;
    padding-right: $full-page-padding-mobile;
  }

  > div{
    position: relative;
  }
}

.header-logo{
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  width: 131px;

  @include breakpoint(xs){
    width: 89px;
  }
}

.donate-btn{
  right: 0;
  @include center-vert;
  text-transform: uppercase;
  font-family: "SourceSansPro-SemiBold";
  font-size: 16px;

  @include breakpoint(xs){
    font-size: 14px;
  }
}

.header-info{
  font-size: 1.44em;
  font-family: "SourceSansPro-Light";

  .page-index &{
    margin-top: 20px;
  }
}

.mobile-nav-icon{
  position: absolute;
  left: 0;
  @include center-vert;
  width: 55px;
  height: 40px;
  background-image: url("../../images/icon-mobile-nav.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
