//browser prefixes
@mixin prefixr($property, $value, $prefixes: (webkit, moz, ms, o) ) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: #{$value};
  }
  @if($property==display and $value==flex){
    @each $prefix in $prefixes {
      #{$property}: -#{$prefix}-#{$value};
    }
  }
  #{$property}: #{$value};
}

//Responsive breakpoints
@mixin breakpoint($point) {
  @if $point == xl {
    @media (min-width: 1281px) { @content; }
  }

  @if $point == l {
    @media (max-width: 1280px) { @content; }
  }

  @if $point == m-up {
    @media (min-width: 1021px) { @content; }
  }

  @if $point == m {
    @media (max-width: 1020px) { @content; }
  }

  @if $point == m-s-up {
    @media (min-width: 961px) { @content; }
  }

  @if $point == m-s {
    @media (max-width: 960px) { @content; }
  }

  @if $point == s-up {
    @media (min-width: 769px) { @content; }
  }

  @if $point == s {
    @media (max-width: 768px) { @content; }
  }

  @if $point == xs-640-up {
    @media (min-width: 641px) { @content; }
  }

  @if $point == xs-640 {
    @media (max-width: 640px) { @content; }
  }

  @if $point == xs-up {
    @media (min-width: 481px) { @content; }
  }

  @if $point == xs {
    @media (max-width: 480px) { @content; }
  }
}

//Width calculator
@mixin max-width-calc($value){
  @if $value == full {
    max-width: $max-site-width;
  }

  @if $value == half {
    max-width: ($max-site-width/2px);
  }
}

//Centering absolute position elements
@mixin center-vert-horizontal(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

@mixin center-vert(){
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

@mixin center-horizontal(){
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

//Rem calculator
@function getRem($size) {
  $remSize: $size / $base-font-size;
  @return #{$remSize}rem;
}

//Feature image height
@mixin feature-image-mobile-height(){
  height: 112vw;
  max-height: 861px;
}
