#nav{
  @include prefixr(display, flex);
  @include prefixr(justify-content, center);
  @include prefixr(align-items, center);
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 10000;
  text-align: center;
  top: -100vh;

  a{
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
  }

  a, a:visited{
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;

    margin: getRem(75px) auto;

    &:first-of-type{
      margin-bottom: 0 !important;
    }

    &:last-of-type{
      margin-top: 0 !important;
    }

    @media only screen and (orientation: landscape) and (max-width: 768px){
      margin: 24px auto;
    }
  }

  a:hover{
    color: $jrf-light-blue;
  }
}
