.newsletter-sign-up{
  position: relative;
}

.newsletter-image{
  position: absolute;
  right: 50%;
  max-width: 862px;
  height: 100%;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
}

.quote{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 139px;

  h2{
    margin-left: auto;
    margin-right: auto;
    line-height: 1.4em;
  }
}

.newsletter-form{
  text-align: center;
  margin-top: 230px;
  margin-bottom: 80px;
}
