section.slideshow-section, div.slideshow-section{
  @include prefixr(display, flex);
  @include prefixr(flex-wrap, wrap);
  @include prefixr(align-items, flex-end);
  position: relative;
  max-width: $max-small-site-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: getRem(70px);
  padding: 0 $full-page-padding;
  z-index: 200;

  img{
    width: 100%;
    display: block;
  }

  .slide, .attribution{
    position: relative;
  }

  .slide{
    max-width: 98%;

    &:last-of-type{
      margin-right: 22px;
      margin-bottom: 22px;

      @include breakpoint(s){
        margin-right: 12px;
        margin-bottom: 12px;
      }
    }

    &:not(:last-of-type){
      top: 22px;
      left: 22px;
      position: absolute;

      &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $jrf-light-blue;
        mix-blend-mode: multiply;
      }

      @include breakpoint(s){
        top: 12px;
        left: 12px;
      }
    }
  }

  .attribution{
    &:not(:last-of-type){
      display: none;
    }
  }

  &.slideshow-large{
    max-width: $max-superwide-site-width;
  }

  .vertical-line{
    height: getRem(159px);
    left: 40%;
    top: 99%;
    z-index: 0;

    &.right{
      left: auto;
      right: 42%;
    }

    @include breakpoint(m){
      left: 50%;
      right: auto;

      &.right{
        left: auto;
        right: 50%;
      }
    }

    @include breakpoint(s){
      height: getRem(90px);
    }
  }

  @include breakpoint(s){
    padding-bottom: getRem(48px);
  }
}

.slides-container{
  @include prefixr(display, flex);
  @include prefixr(align-items, flex-end);
  position: relative;
  width: 100%;

  @include breakpoint(s){
    @include prefixr(flex-wrap, wrap);
  }
}

.slideshow, .slides-footer{
  position: relative;
  width: 47vw;
  max-width: 663px;

  @include breakpoint(s){
    position: static;
    width: 100% !important;
    max-width: 100% !important;
  }
}

.slideshow-large{
  .slideshow, .slides-footer{
    width: 56vw;
    max-width: 1086px;
  }

  .page-the-man &{
    margin-top: 0;
  }
}

.slideshow-content{
  @extend .content;
  $width: $max-site-width * 0.333333333;
  max-width: $width;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: auto;
  padding-left: 28px;
  padding-right: 0;
  padding-bottom: getRem(30px);

  .row-reverse &{
    margin-left: auto;
    margin-right: 0;
    padding-left: 0;
    padding-right: 28px;
  }

  @include breakpoint(m){
    margin-right: auto;
    padding-right: 0;

    .row-reverse &{
      margin-right: 0;
      padding-right: 28px;
    }
  }

  @include breakpoint(s){
    max-width: 100%;
    padding: 0;
    margin-bottom: 28px;
    margin-top: 20px;
  }
}

.slides{
  position: relative;
  z-index: 1;

  @include breakpoint(s){
    position: static;
  }
}

.slides-footer{
  @include prefixr(display, flex);
  @include prefixr(justify-content, space-between);
  @include prefixr(align-items, baseline);
  padding: 13px 0;
  margin-left: auto;

  &.right{
    margin-left: 0;
  }
}

.slideshow-control{
  @include prefixr(display, flex);
  @include prefixr(align-items, center);
}

.slideshow-arrow{
  width: 8px;
  height: 15px;
  background-repeat: no-repeat;

  &.prev{
    margin-right: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='15' width='8'%3E%3Cpath d='M0 7.5 L 8 0 M8 15 L 0 7.5' fill='transparent' stroke='#605d5e' /%3E%3C/svg%3E");
  }

  &.next{
    margin-left: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='15' width='8'%3E%3Cpath d='M0 0 L 8 7.5 L 0 15' fill='transparent' stroke='#605d5e' /%3E%3C/svg%3E");
  }
}

.control-button-container, ul.control-button-container{
  @include prefixr(display, flex);
  @include prefixr(align-items, baseline);
  max-width: 155px;
  overflow: hidden;

  li{
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  @include breakpoint(m){
    max-width: 124px;
  }
}

.slide-button-container{
  position: relative;

  > *{
    width: 15px;
    height: 15px;
  }

  input{
    position: absolute;
    margin: 0;
    opacity: 0;

    &:checked + span{
      background-color: $jrf-light-blue;
    }
  }

  span{
    display: block;
    top: 0;
    left: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: $accent-light-gray;
  }
}
